<section>
    <div class="container gifts-container">
    <h2 class="section__title">Gifts for all Occasions</h2>
    <p class="section__undertitle">“Try our web app to find the best gifts for all occasions”</p>
    <ul class="gifts__list">
        <li class="gifts__item">
            <img src="./images/happy.jpg" alt="Birthday" width="270">
            <div class="gifts__item-box">
            <p class="gifts__title">Birthday</p>
            <a href="" class="gifts__link">See More ›</a>
            </div>
        </li>
        <li class="gifts__item">
            <img src="./images/shoes.jpg" alt="Anniversary" width="270">
            <div class="gifts__item-box">
            <p class="gifts__title">Anniversary</p>
            <a href="" class="gifts__link">See More ›</a>
            </div>
        </li>
        <li class="gifts__item">
            <img src="./images/present.jpg" alt="Valentine's Day" width="270">
            <div class="gifts__item-box">
            <p class="gifts__title">Valentine's Day</p>
            <a href="" class="gifts__link">See More ›</a>
            </div>
        </li>
        <li class="gifts__item">
            <img src="./images/tree.jpg" alt="Christmas" width="270">
            <div class="gifts__item-box">
            <p class="gifts__title">Christmas</p>
            <a href="" class="gifts__link">See More ›</a>
            </div>
        </li>
    </ul>
    </div>
    
</section>