<section class="registration container">
    <h2 class="registration__titel is-hidden">Registration</h2>
    <div class="registration__text">
        <h3 class="registration__subtitel">Ready to get started?</h3>
        <p class="registration__text">Sign up or contact us</p>
    </div>
    <div>
        <ul class="registration__list">
            <li><button class="button__reg button__reg--black" type="button">Find gift now</button></li>
            <li><button class="button__reg button__reg--orange" type="button">how it works</button></li>
        </ul>
    </div>
</section>