.gifts-container {
    padding: 96px 135px 120px 135px;
}

.gifts__list {
    margin: 0;
    display: flex;
    gap: 30px;
    padding: 0;
}

.gifts__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }

    &:focus {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }
}

.gifts__title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 74px;
}

.gifts__link {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.357;
    margin: 0;
    color: $text-black;
}

.gifts__item-box {
    padding: 24px;
    background-color: $card-bgc;
}