.registration_section{
    background-color: $bgc-orange;
}

.registration {
    display:flex;
    justify-content: space-between;
    padding: 81px 235px 69px 235px;
    align-items: center;

    
   &__titel {
    display:none;
    
   }
   &__subtitel {
    font-size: 32px;
    margin:0;
   }
   &__text {
    font-size: 32px;
    margin:0;
   }
   &__list {
    display:flex;
    gap:16px;
    margin: 0;
    
   }
}
.button__reg {
    font-size: 18px;
    min-width: 250px;
    min-height: 50px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: 550ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    

    &--black {
        color:$text-white;
        background-color: $bgc-black;
        &:hover, &:focus {
            color:$text-black;
            background-color: $bgc-orange; 
        }
    }

    &--orange {
        color:$text-black;
        background-color: $bgc-orange;
        &:hover, &:focus {
            color:$text-white;
            background-color: $bgc-black;
        }
    }
}